#trend_area{@include main_bg;
  h2{@include h2;}
  .trend_form{
    width: 100%; height: auto; padding:0.4rem; box-sizing: border-box;
    .zone_f{width: auto; height: auto;
      >li{width: 100%; height: auto; background-color: #ddd;
    .pic_zone{padding:0 3rem; box-sizing: border-box;
      .pic{width: 100%; height: 100%; @include bg_base("../../img/t_04_friend.jpeg",$s:100% auto);}
      }//pic_zone
      .text_zone{height: auto;
      padding:5vw 2rem; box-sizing: border-box;
      >h3{@include h3; margin-bottom:2rem;}
      >p{@include text_20; margin-bottom:5rem;}
      >.btn{@include btn; border:1px solid $black; box-sizing: border-box;
        }//btn
      }//text_zone
     }//li
    }//ul.zone_f
 }//trend_form
}//trend_area

// 반응형 ====================================
@include mo_ta{
  h2{margin-bottom:5rem;}
  .list_zone{display:none;}
  .zone_f>li{margin-bottom:3rem;}
  .logo_zone{width: 100%; height: 10rem; padding-top:3rem;
    .logo_pic{width: 10rem; height: 5rem; margin:auto; @include bg_base2($s:100% auto);}
  }//logo_zone
  .pic_zone{width: 100%; height: 50vw;}
  .text_zone{width: 100%; text-align: center;
  >.btn{margin:auto;}}

}
@include la_pc{
  h2{margin-bottom:10rem;}
  $w:12rem; $m:15rem; $s:5rem;
  .list_zone{width: ($w * 3)+($m * 2)+ $s; height: 10rem; margin:auto; margin-bottom:4rem;
    >li{float:left; width: $w; height: 100%; margin-right:$m; @include bg_base2;
      &:nth-child(1){background-image: url('../../img/t_04_starwars_logo.png');}
      &:nth-child(2){width: $w + $s; background-image: url('../../img/t_04_technic_logo.png');}
      &:nth-child(3){background-image: url('../../img/t_04_friend_logo.png');}
    &:last-child{margin-right: 0;}}
  }//.list_zone
  .zone_f>li{display:none;
  &:nth-child(1){display: block;}}
  .logo_zone{display: none;}
  .pic_zone{float: left; width: 50%; height: 32rem;}
  .text_zone{float: left; width: 50%;}
}