#sub_slide01{width: 100%; height: 45rem;overflow: hidden;
  .sub_box{width: 100%; height: 25rem;  transform: rotate(-6deg); margin-top:12rem;
    .sub_car{position:absolute; top:-4.2rem; width: 100%; height: 5rem;
    >div{position:absolute; width: 13rem; height: 100%; bottom:0;@include bg_base2($s:100% auto);transform:translate(-13rem);
      &.car01{background-image: url("../../img/car-01.png");
      &:hover{background-image: url("../../img/car-06.png");}}
      &.car02{background-image: url("../../img/car-02.png");
      &:hover{background-image: url("../../img/car-07.png");}}
      &.car03{background-image: url("../../img/car-03.png");
      &:hover{background-image: url("../../img/car-08.png");}}
      &.car04{background-image: url("../../img/car-04.png");
      &:hover{background-image: url("../../img/car-09.png");}}
      &.car05{background-image: url("../../img/car-05.png");
      &:hover{background-image: url("../../img/car-10.png");}}
    }
  }//sub_car
  $w:3;
  ul{width: 320rem; height: 100%; 
    li{float:left; width: 30rem; height: 100%;@include bg_base2($s:auto 100%);
      &.sub01{background-image: url('../../img/pic01.jpeg');}
      &.sub02{background-image: url('../../img/pic02.jpeg');}
      &.sub03{background-image: url('../../img/pic03.jpeg');}
      &.sub04{background-image: url('../../img/pic04.jpg');}
      &.sub05{background-image: url('../../img/pic05.jpg');}
      &.sub06{background-image: url('../../img/pic06.jpg');}
      &.sub07{background-image: url('../../img/pic07.jpeg');}
      &.sub08{background-image: url('../../img/pic08.jpeg');}
      }//li
    }//ul
  }//.sub_box
}//#sub_slide01

//==============================
@include mo_ta{
  #sub_slide01{display: none;}
}