$w:10rem; $m:6rem;
.email_area{width: 100%; height: 15rem; padding:1.4rem; box-sizing: border-box; background-color: $gray;
  h3{@include h3; text-align: center; margin-bottom:1rem;}
  p{@include text_15; font-weight: bold; text-align: center; margin-bottom:2.5rem;}
  form{width: auto; height: auto;
    .mail_box{position:relative; height: 2rem; margin:auto;
    >input[type=text]{display:block; float:left; width: 100%; height: 100%; margin:auto; border:0;}
    >.search_btn{float:left;
      button{position:absolute; top:0; right:0; width: 4rem; height: 100%; padding:0;  background-color: $primary;
      i{width: 4rem; height: 100%; line-height:2rem;font-size: 1.5rem;}}
      }//search_btn
    }//.mail_box
  }//form
} //.email_area
.foot_nav{width: 100%; height: 100%; padding:1.4rem; box-sizing: border-box;background-color: $bg_gray; 
  >ul{height: auto; margin:auto; 
    >li{width: auto; height: auto;
    &:last-child{margin-right:0;}
      dl{
        dt{font-weight: bold; text-transform: uppercase;}
        dd{width: auto; height: auto; line-height:1.8rem; @include text_18;
        a{@include aLink;}} 
      }//dl
    }//li
  }//ul
}//foot_nav

.company_info{width: 100%; height: auto; padding:2rem 0 3rem; border-top:0.4px solid $border_g; box-sizing: border-box; background-color: $bg_gray;
  .f_info_wrap{height: 100%; margin:auto;
    .foot_zone{height: 100%;
      .foot_logo{ margin:auto; @include bg_base('../../img/foot_logo.svg');}
    }//.foot_zone
    .text_zone{height: auto;
      .terms_menu{width: 100%; height: auto;
      >ul{width: auto; height: auto; margin:auto;
        &:last-child{>li:last-child{margin-right:0;}}
        >li{float: left; margin-right:2rem; margin-bottom:1.8rem;
          a{@include aLink;}
          }//li
        }//ul
      }//.terms_menu
        p{@include text_12; margin-bottom: 0.8rem;}
    }//.text_zone
  }//.f_info_wrap
}//.compant_info

//=====================================

@include mo_ta{
  .email_area{
    .mail_box{width: 80vw;}
  }
  .foot_nav{
    dl{width: 100%; text-align: center;@include text_18; border-bottom:1px solid $border_g;
      dt{width: 100%; height: 5rem; line-height:5rem;}
      dd{display:none;
      &:last-child{margin-bottom:2rem;}}
    }
  }//foot_nav
  .company_info{
    .f_info_wrap{width:auto;
      .foot_zone{width: 100%;
        .foot_logo{width: 4rem; height: 4rem;}
      }//.foot_zone
      .text_zone{width: 100%;
        .terms_menu{margin-top:2rem;
        >ul{
          &.ter_01{width: 12.5rem;}
          &.ter_02{width: 16.25rem;}
          >li{float: left; line-height: 0.5rem;
            a{@include aLink;}
          &:last-child{margin-right:0;}
            }//li
          }//ul
        }//terms_menu
          p{width: auto; height: auto; text-align: center;word-break: keep-all;
          &:first-of-type{display:none;}
        }//p
      }//.text_zone
    }//.f_info_wrap
  }//.company_info

}//mo_ta


@include la_pc{
  .email_area{
    .mail_box{width: 50rem;
    }
  }
  .foot_nav{
    ul{width: ($w * 5) + ($m * 4); 
    li{float:left;  margin-right:$m;
      dl{width: auto; height: auto;
        dt{width: auto; height: auto; margin-bottom:1rem; @include text_22;}
      }//dl
    }//li
   }//ul
  }//foot_nav

  .company_info{
    .f_info_wrap{width: ($w * 5) + ($m * 4);
      .foot_zone{float:left; width: 20%;
        .foot_logo{width: 8rem; height: 8rem;}
      }//.foot_zone
      .text_zone{float:left; width: 80%;
        .terms_menu{
          >ul{float:left;}
        }
      }//.text_zone
    }//.f_info_wrap
  }//.compant_info
} 
// @include mobile{}
// @include tablet{}
// @include labtop{}
// @include pcfull{}