.title_area{position:relative; z-index:10;width:100%; height:700px; @include bg_base($url:"../../../img/channel_img/ch_big01.jpg",$s:cover);
  &:after,&::after{content:" "; display:block; position: absolute;left:0; top:0; z-index:-1; width:100%; height:100%; background-color: $opacity;}
>.text_zone{width:60%; height:auto; margin:auto; padding-top:200px; box-sizing: border-box; text-align:center;
  >h2{@include h3;}
  >p:nth-of-type(1){@include h6; margin-bottom:20px;
  &:after,&::after{content:" "; display:block; width:60%; height:2px; margin:auto; margin-top:30px; background-color: #fff;}}
  >p{@include text_m_bold;}
  }//text_zone
}//.title_area
.con_area{width:80%; height:auto; margin:auto; padding-bottom:200px;
  h3{@include sub_title; transform-origin:0 0;}
  >.synopsis_zone{width:100%; height:300px; padding:100px 20%; box-sizing: border-box;
  >p{width:100%; height:auto; padding:10px 40px; @include text_m;}
  }//.synopsis_zone
  >.episode_zone{width:100%; height:auto; padding: 100px 20%; box-sizing: border-box;
  >.title_num{float:left; width:20%; height:auto;
    >p{@include text_s;}}
  >dl{float:right;width:80%; height:auto; padding:10px 40px; box-sizing:border-box;
    >dt{width:100%; height:auto; margin-bottom:20px; @include text_s;
      >em{@include h3; font-style:normal; margin-right:20px;}
      &:before,&::before{content:" ";display:block; width:100%; height:1px; margin-top:10px;background-color: #fff;}
      }//dt
    >dd{display:none; width:100%; height:auto; margin-left:40px; margin-bottom:20px; padding:20px 40px 0 20px; box-sizing:border-box; text-align:justify;@include text_m;}}
  }//.episode_zone
  >.photo_zone{width:100%; height:500px; padding: 100px 20%; box-sizing: border-box;
  >.photo_slide{width:120%; height:400px; padding:40px; box-sizing:border-box; overflow: hidden;
    $a:3;
    >.photo_guide{width:(500px*$a)+(20px*$a); height:100%; background-color: #aaf;
      >li{float:left; width:500px; height:100%; margin-right:20px; background-color: #555;}}

    }//.photo_slide
  }//.photo_zone
}//.con_area