.ch_big{position:relative; width:100%;@include bg_base($url:"../../img/channel_img/ch_big01.jpg",$s:100% auto);
&:before,&::before{content:" "; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background-color: $opacity;}
  >.ch_text_box{position:absolute; right:0; z-index:100;padding-top:100px; overflow: hidden; box-sizing:border-box;
  &:before,&::before{content:" ";display:block; position:absolute; top:0;  z-index:-1;width:100%; height:100%; background-color: $opacity;}
  >.ch_text_area{width:500px; height:auto;
  >.ch_group{position:relative; right:0; width:auto; height:auto; @include text_l;}
  >h4{width:auto; height:auto; font-size:3rem;@include h2;}
  >p{width:auto; height:auto; @include text_m;}
  >.ch_btn{width:200px; height:40px; @include button_b(200px,40px); margin-top:20px; box-sizing:border-box;
    >a{@include aLink; @include text_m_bold($black);}
      }
    }//.ch_text_area
  }//ch_text
}//.ch_big
.search_area{width:100%; height:160px; padding:0 50px;box-sizing: border-box;
  >.group{float:left; width:50%; height:100%; padding:50px 0; box-sizing:border-box;
   >dl{width:40%; min-width:200px; height:60px; margin:auto; @include text_s; text-align: left; border:1px solid $gray;
    >dt{  @include aLink; padding-bottom:0;
    >a{@include aLink; padding:16px; box-sizing: border-box;
      &:hover{color:$primary;}
      >i{float:right; display:block; width:30px; height:100%;}}}
    >dd{display:none;width: 100%; height: auto; padding:0 10px; box-sizing:border-box;
    li{width:100%; height:100%; background-color: $opacity_b;  @include text_l;
        >a{@include aLink; padding:10px 20px; box-sizing:border-box;
        &:hover{color:$primary;}}}
      }//dd
    }//dl
  }//.group
  >form{float:right; width: 50%; height: auto;
    >fieldset{float:right;width: 100%; height: 100%; padding:30px; padding-top:50px; box-sizing: border-box;
      >.search_box{width: 70%; height: 100px; margin:auto;
        >#search{float:left;width: 85%; height: 40px; border:0;  margin-right:5%; font-size:1.3rem; border-bottom:2px solid $primary; color:$white; background-color: transparent;}
        >.search_btn{float:left;width: 10%; height:50px;
        >label{width: 100%; height: 100%; display: block;
          >button{width: 100%; height: 100%;
          >i{width: 100%;height: 100%; color:$primary; font-size:2rem;}
           }//button
         }//label
        }//.search_bth
      }//.search_box
    }//fieldset
  }//form
}
.ch_con_area{width: 100%; height: auto; box-sizing: border-box;
    >ul{width: 100%; height: auto;
      >li{float:left; background-color: #ddd; border:0 solid $primary; box-sizing:border-box; 
        >a{position:relative; width: 100%; height: 100%; display: block;
          >.img_area{width: 100%; height: 100%; 
            background-repeat:no-repeat;
            background-position:50% 50%;
            background-size:cover;
          }
          >.text_area{position: absolute; bottom:0;width: 100%; box-sizing:border-box; background-color: $opacity_b;
          transition:all 300ms ease;
            >h3{width: 100%; height: auto; margin-bottom:6px;}
            >p{width: 100%; height: auto; }
          }//text.area
        }//a
      &:hover{
        .img_area{background-size:auto 108%}
        .h3{color:$primary}}
      }//li
    }//ul
    >.moreBtn{position:relative; left:0; right:0; margin:auto;
      >button{@include button_b(100%,100%);}
  
    }//.moreBtn
  }//.ch_con_area








// mobile================================================
@include mobile{
.ch_big{height:350px;
  >.ch_text_box{top:0;left:0; width:100%; height:100%;
  &:before,&::before{left:0;}
  >.ch_text_area{text-align:center; margin:auto;
    >h4{@include h4;}
    >p{@include text_l; margin-top:10px;}
    >.ch_btn{margin:20px auto;}
    }
  }//.ch_text_box
}//.ch_big

  
.ch_con_area{ padding:50px 30px;
  li{width: 48%; height: 250px; margin-bottom:40px;
  &:nth-child(2n){float:right;}
  .text_area{height: 36%; padding:10px;
  >h3{@include text_ls}
  >p{@include text_ss}
    }//text_area
  }//li
  .moreBtn{width: 200px; height: 50px;
  >button{text-transform:uppercase; @include text_l($black);}}
}
}
// tablet================================================
@include tablet{
.ch_big{height:500px;
  >.ch_text_box{top:0;left:0; width:100%; height:100%;
  &:before,&::before{left:0;}
  >.ch_text_area{text-align:center; margin:auto;
    >h4{@include h4;}
    >p{@include text_l; margin-top:10px;}
    >.ch_btn{margin:20px auto;}
    }
  }//.ch_text_box
}//.ch_big

  
.ch_con_area{ padding:50px 30px;
  li{width: 48%; height: 400px; margin-bottom:80px;
    &:nth-child(2n){float:right;};
    .text_area{height: 30%; padding:10px;
    >h3{@include text_l}
    >p{@include text_ss}
      }//text_area
    }//li
    .moreBtn{width: 200px; height: 50px;
    >button{text-transform:uppercase; @include text_l($black);}}
  }
}
// labtop================================================
@include labtop{
.ch_big{height:700px;
  >.ch_text_box{top:30%; width:700px;  height:400px;
  &:before,&::before{left:15%; transform:skewX(20deg);}
  >.ch_text_area{text-align:right; margin-left:100px;
   >.ch_btn{float:right;}
    }//.ch_text_area
  }//.ch_text_box
}//.ch_big

  
.ch_con_area{ padding:200px 50px 80px;
  li{width: calc(92% / 3); height: 350px; margin-bottom:100px; margin-right:4%;
  &:nth-child(3n){margin-right:0px;}
     .text_area{height: 30%; padding:16px;
       >h3{@include text_m}
       >p{@include text_ls}
     }//text_area
   }//li
    .moreBtn{width: 300px; height: 60px;
    >button{text-transform:uppercase; @include text_m($black);}}
 }
}
// pcfull================================================
@include pcfull{
.ch_big{height:850px;
  >.ch_text_box{top:40%; width:1000px;  height:400px;
  &:before,&::before{left:15%; transform:skewX(20deg);}
  >.ch_text_area{text-align:right; margin-left:100px;
   >.ch_btn{float:right;}
    }//.ch_text_area
  }//.ch_text_box
}//.ch_big

  
.ch_con_area{ padding:200px 250px 80px;
  li{width: calc(92% / 3);height: 350px;margin-bottom:100px; margin-right:4%;
  &:nth-child(3n){margin-right:0px;}
      .text_area{height: 36%; padding:16px;
        >h3{@include text_m}
        >p{@include text_l}
      }//text_area
    }//li
     .moreBtn{width: 300px; height: 60px;
     >button{text-transform:uppercase; @include text_m($black);}}
  }
}
