//var.scss

//color
$primary: #ffcf00;
$white : #fff;
$gray : #aaa;
$bg_gray: #fdfdfd;
$border_g: #e0e0e0;

$black : #171717;
$opacity_w : rgba(255,255,255,0.5);
$opacity_l : rgba(17,17,17,0.3);
$opacity : rgba(17,17,17,0.5);
$opacity_b : rgba(17,17,17,0.8);
$gradation :rgba($primary, 0)20%, rgba($primary, 1) 50%, rgba($primary, 0)80%;